@import "tailwindcss";

* {
    --primary-color: #3d3b3a;
    --secondary-color: #fff5e1;
    --text-color: #3d3b3a;
    --background-color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    width: 100%;
    min-height: 100%;
}

h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1rem;
}

nav {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav > ul > li {
    margin: 0.5rem 0;
}

nav > ul > li > a {
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color);
}

nav > ul > li > a > svg {
    background: var(--secondary-color);
    fill: var(--secondary-color);
    width: 30px;
    height: 30px;
    fill: var(--text-color);
    margin: auto;
}

.font-serif {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.75;
}

button {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}